{
  "active_account": "",
  "accounts": {
    "account_1": {
      "name": "example_account",
      "discord_token": "TOKEN HERE",
      "webhook_urls": {
        "friend": "WEBHOOK",
        "message": "WEBHOOK",
        "command": "WEBHOOK"
      },
      "settings": {
        "enable_attachment_download": true,
        "enable_mention_logging": true,
        "enable_delete_logging": true,
        "enable_relationship_logging": true
      },
      "created_at": "2024-01-01T00:00:00Z",
      "last_used": "2024-01-01T00:00:00Z"
    }
  }
}